<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 720px;
        aspect-ratio: 16/9;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
    }
    .container img {
        max-width: 100%;
        height: auto;
        display: block;
    }
</style>
<div class="container">
    <img onload="resizeContainer(this)" loading="lazy" src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{with.Title}} title="{{ . }}" {{end}} />
</div>
<script>
    function resizeContainer(img) {
        const container = img.parentElement;
        const aspectRatio = img.naturalHeight / img.naturalWidth;
        container.style.height = `${container.clientWidth * aspectRatio}px`;
    }
</script>
