<script id="vercel-api" async
        src="https://{{ site.Params.umamiAnalytics.domain }}/{{ site.Params.umamiAnalytics.scriptName }}"
        data-website-id="{{ site.Params.umamiAnalytics.websiteid }}">
</script>

<script type="text/javascript">
    document.querySelector('script[id="vercel-api"]')
        .addEventListener('load', function () {
            const type = document.head.querySelector('meta[property = "og:type"]').getAttribute('content');
            let title = document.head.querySelector('meta[property = "og:title"]').getAttribute('content');
            let url = document.head.querySelector('meta[property = "og:url"]').getAttribute('content');
            umami.track(type + ':' + title, {'url': url});
    });
</script>