<footer class="footer">
    <p class="footer__license" xmlns:cc="http://creativecommons.org/ns#">
        本作品根据
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh-hans" target="_blank"
            rel="license noopener noreferrer">CC BY-NC-SA 4.0</a>
        <img class="footer__img" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="Creative Commons">
        <img class="footer__img" src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt="BY">
        <img class="footer__img" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg" alt="NC">
        <img class="footer__img" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg" alt="SA">
        许可
    </p>
</footer>
<style>
    .footer {
        margin-top: 0;
        padding-top: 0;
    }

    .footer__license {
        margin-top: -15px;
    }

    .footer__img {
        height: 22px;
        margin-left: 3px;
        vertical-align: -25%;
        display: inline-block;
    }
</style>