<footer id="site-extend-footer" class="print:hidden">
    <p class="text-right text-xs text-neutral-500 dark:text-neutral-400" xmlns:cc="https://creativecommons.org/ns#">
        <a class="hover:underline hover:decoration-primary-400 hover:text-primary-500"
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="license noopener noreferrer"
            title="点击查看许可协议">CC BY-NC-SA 4.0</a>
        |
        <a class="hover:underline hover:decoration-primary-400 hover:text-primary-500"
            href="https://icp.gov.moe/?keyword=20259983" target="_blank" rel="noopener noreferrer"
            title="点击查看备案信息">萌ICP备20259983号</a>
    </p>
    <div class="flex item-center justify-center">
        <a href="https://travel.moe/go.html?travel=on" target="_blank" rel="noopener" title="异次元之旅-跃迁-我们一起去萌站成员的星球旅行吧！">
            <img class="h-6" src="https://travel.moe/images/logo/gif-kt/startup-default.gif"
                alt="异次元之旅-跃迁-我们一起去萌站成员的星球旅行吧！">
        </a>
        <a href="https://www.travellings.cn/go.html" target="_blank" rel="noopener" title="开往-友链接力">
            <img class="h-6" src="https://www.travellings.cn/assets/logo.gif" alt="开往-友链接力">
        </a>
    </div>
</footer>