<footer id="site-extend-footer">
    <p class="text-right text-xs text-neutral-500 dark:text-neutral-400" xmlns:cc="https://creativecommons.org/ns#">
        内容基于
        <a class="hover:underline hover:decoration-primary-400 hover:text-primary-500"
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh-hans" target="_blank"
            rel="license noopener noreferrer">CC BY-NC-SA 4.0</a>
        许可
    </p>
    <p class="flex items-center justify-center text-sm text-neutral-500 dark:text-neutral-400">
        <a href="https://icp.gov.moe/?keyword=20259983" target="_blank">萌ICP备20259983号</a>
        <a href="https://www.travellings.cn/go.html" target="_blank" rel="noopener" title="开往-友链接力">
            <img src="https://www.travellings.cn/assets/logo.gif" alt="开往-友链接力" width="120">
        </a>
    </p>
</footer>